desmos:
  app:
    txSubscription:
      notificationEndpoint: http://desmos.provider.svc.cluster.local:8080/api/v1/notifications/dlt
      entityTypes: service-catalog
    broker:
      provider: scorpio
      externalDomain: http://scorpio.provider.svc.cluster.local:9090
      internalDomain: http://scorpio.provider.svc.cluster.local:9090
    ngsiSubscription:
      notificationEndpoint: http://desmos.provider.svc.cluster.local:8080/api/v1/notifications/broker
      entityTypes: service-catalog,catalog,individual,organization,product,product-offering,category,service-specification,product-offering-price,resource-specification,product-specification
    operator:
      organizationIdentifier: did:web:provider.org
  fullnameOverride: desmos

dlt-adapter:
  env:
    PRIVATE_KEY: "0x304d170fb355df65cc17ef7934404fe9baee73a1244380076436dec6fafb1e1f"
    DOME_EVENTS_CONTRACT_ADDRESS: ""
    RPC_ADDRESS: "http://blockchain-testnode.infra.svc.cluster.local:8545/"
    DOME_PRODUCTION_BLOCK_NUMBER: "0"
    ISS: "0xb95536636339fb1ee3b29e322feac9aa65a85ab098640aedc4fe998d063424c8"
  replicaCount: 1
  logLevel: DEBUG
  fullnameOverride: dlt-adapter

postgresql:
  primary:
    persistence:
      enabled: false
  readReplicas:
    persistence:
      enabled: false

postgis:
  primary:
    persistence:
      enabled: false
  readReplicas:
    persistence:
      enabled: false

tm-forum-api:
  defaultConfig:
    endpointsPort: 8080
    additionalEnvVars:
      - name: LOGBACK_APPENDER
        value: CONSOLE

  apiProxy:
    service:
      type: LoadBalancer
      port: 8080
